   
    @model  IEnumerable<DisplayCurrencyRates.Data.Entities.BitCoinIndex>
    @section Scripts {
    <script src="~/clientapp/runtime-es5.js"></script>
    <script src="~/clientapp/polyfills-es5.js"></script>
    <script src="~/clientapp/styles-es2015.js"></script>
    <script src="~/clientapp/vendor-es5.js"></script>
    <script src="~/clientapp/main-es2015.js"></script>
    }
                  <h3> @ViewData["bitcoinValues"]</h3>
    <currency-root></currency-root>